<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
       <customErrors mode="On" defaultRedirect="/error">
          <error statusCode="500" redirect="/error" />
          <error statusCode="502" redirect="/error" />
          <error statusCode="503" redirect="/error" />		  
       </customErrors>
    </system.web>
    <system.webServer>
		<httpErrors existingResponse="PassThrough" />
		<security>
			<requestFiltering allowDoubleEscaping="true">
			</requestFiltering>
		</security>		
		<rewrite>
		  <rules>
                <clear />    
				<rule name="Remove trailing slash" stopProcessing="true">
					<match url="(.*)/$" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Redirect" url="{R:1}" redirectType="Temporary" />
				</rule>  
                <rule name="Routing" enabled="true" stopProcessing="true">
                    <match url="^([^/]+)/?" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.php?url={R:1}" appendQueryString="true" />
                </rule>
			</rules>
		</rewrite>
		<staticContent>
		  <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
		  <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		  <mimeMap fileExtension=".eot" mimeType="application/font-sfnt" />
		  <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
		</staticContent>
		<httpProtocol>
		  <customHeaders>
			<add name="Access-Control-Allow-Origin" value="*" />
			<add name="Access-Control-Allow-Methods" value="HEAD,GET,OPTIONS" />
		  </customHeaders>
		</httpProtocol>		
    </system.webServer>
</configuration>